body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #99CCFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.section {
    margin-bottom: 30px;
}
.section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.info {
    padding-left: 20px;
}
.info p {
    margin: 5px 0;
}
.info-item {
    margin-bottom: 10px;
}
.info-label {
    font-weight: bold;
}
