body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
}

.container-wrapper {

    display: flex;
    flex-wrap: wrap;     
    justify-content: space-around;
}

.container {
    width: calc(40% - 1px); 
    margin: 10px; 
    padding: 20px;
    background-color: #99CCFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
.section {
    margin-bottom: 30px;
}
.section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.info {
    padding-left: 20px;
}
.info p {
    margin: 5px 0;
}
.info-item {
    margin-bottom: 10px;
}
.info-label {
    font-weight: bold;
}

.button {
  background-color: #04026f; /* Green background */
  border: none; /* No border */
  color: white; /* White text */
  padding: 10px 20px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Display as inline block */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Cursor on hover */
  border-radius: 10px; /* Rounded corners */
}
