<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>osint test 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <form action="/" method="GET">
            <label for="domain">Enter a domain:</label>
            <input type="text" id="domain" name="domain">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="container">
        <h1>Website Information</h1>
            <div class="info-item">
                <span class="info-label">Website Status:</span>
                <span>{{ website_info['Website Status'] }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Domain Name:</span>
                <span>{{ website_info['WHOIS Information']['Domain Name'] }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Creation Date:</span>
                <span>{{ website_info['WHOIS Information']['Creation Date'] }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Expiration Date:</span>
                <span>{{ website_info['WHOIS Information']['Expiration Date'] }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Registrar:</span>
                <span>{{ website_info['WHOIS Information']['Registrar'] }}</span>
            </div>
    </div>
    <div class="container">
        <h1>SSL Informations</h1>
            <div class="info-item">
                <span class="info-label">Subject :</span>
                <span>{{ website_info['SSL Certificate Information']['Subject'] }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Issuer :</span>
                <span>{{ website_info['SSL Certificate Information']['Issuer'] }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Valid From :</span>
                <span>{{ website_info['SSL Certificate Information']['Valid From'] }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Valid until :</span>
                <span>{{ website_info['SSL Certificate Information']['Valid Until'] }}</span>
            </div>
    </div>
</body>
</html>
