<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>osint test 1</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-900 text-white">
    <div class="container-wrapper mx-auto p-4">
        <div class="container bg-gray-800 rounded-lg shadow-md p-6 mb-4">
          <h1 class="info-item mb-2">Subdomains</h1>
          <ul>
              {% for subdomain in subdomains %}
                  <li>{{ subdomain }}</li>
              {% endfor %}
          </ul>
      </div>
    </div>
</body>
</html>
